.imgg {
    width: auto;
    max-width: 95%;
    height: 300px;
    margin: 2.5%;
}

.titulo {
    color: black;
    font-size: 30px;
    text-decoration: none;

}

.descr {
    color: black;
}

.pfp {

    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.compfp {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardbod {
    width: 30%;
    height: 250px;
    background-color: aliceblue;
    border-radius: 10px;
}

.Content {
    align-items: center;
    text-align: left;
    height: 90%;
    margin: 5%;
}

.showImage{
    border-radius: 5px;
    height: auto;
    width: auto;
    max-width: 40%;
    max-height: 60%;
}