.imgg {
    width: auto;
    max-width: 95%;
    height: 300px;
    margin: 2.5%;
}

.titulo {
    color: black;
    font-size: 30px;
    text-decoration: none;

}

.descr {
    color: black;
}

.pfp {

    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.compfp {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 3px;
}

.commsuserinfo{
    display: flex;
    align-items: start;
}

.commusername{
    color: black;
}

.imgmovie{
    max-width: 90%;
    max-height: 90%;
    size-adjust: cover;
}